.parametrs-grade-input {
    display: none;
    position: relative;
}

.parameters-grade-table-block {
    overflow: auto;
    padding-bottom: 5px;
}

.parameters-grade-table {
    padding-right: 22px;
}

.parametrs-grade-input__number-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    background: #fff;
}

.parametrs-grade-input__number-control div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    margin: 5px;
}