.parameters-table {
    width: 100%;
    overflow: auto;
}

.parameters-table table {
    margin: 10px 0;
    text-align: end;
}

.parameters-table tr {
}

.parameters-table td {
    padding: 10px 15px;
}

.parameters-table td:nth-child(2n) {
    background: whitesmoke;
}

.parameters-table td:nth-child(1) {
    background: rgb(226, 255, 173);
}

.parameters-table thead td:nth-child(2n),
.parameters-table thead td:nth-child(1) {
    background: none;
}

.parameters-table thead tr:nth-child(1) td:nth-child(1) {
    background: rgb(226, 255, 173);
}