.parameters-table {
    width: 100%;
    overflow: auto;
}

.parameters-table table {
    margin: 10px 0;
    text-align: end;
    border-collapse: collapse;
}

.parameters-table tr {}

.parameters-table tbody tr {
    border-bottom: 1px solid #fff;
}

.parameters-table td {
    padding: 10px 15px;
    text-align: center;
}

.parameters-table td:nth-child(2n) {
    background: whitesmoke;
}

.parameters-table tbody tr:nth-child(even) td {
    background: var(--gray-d9);
}

.parameters-table tbody tr:nth-child(odd) td {
    background: var(--gray-ec);
}

.parameters-table thead td {
    text-align: center;
    vertical-align: middle;
}

.parameters-table thead td:nth-child(2n),
.parameters-table thead td:nth-child(1) {
    background: none;
}

/* .parameters-table thead tr:nth-child(1) td:nth-child(1) {
    background: var(--gray-e6);
} */
.parameters-table thead tr td {
    background: var(--pink-ff) !important;
}