.parameters-form input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background: none;
}

.parameters-form .submit {
  width: 12.5rem;
  background: var(--gray-d9);
  padding: 12px;
  margin: 20px 0 30px;
  transition: background 0.2s ease-out;
  border: none;
  cursor: pointer;
  align-self: flex-start;
  height: 42px;
}

.parameters-form .submit .loader {
  display: none;
}

.parameters-form .submit:hover {
  background: var(--gray-e6);
}

.parameters-form .submit.submit--active .loader {
  display: flex;
}

.parameters-form .submit.submit--active span {
  display: none;
}

/* .parameters-form > div {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding-bottom: 30px;
} */

.parameters-form__parameters-generate-block {}

.parameters-form__parameters-filter-block {}

@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {}