 .result-block {
     display: none;
 }

 .result-block.active {
     display: block;
 }

 .result-table {
     display: none;
 }

 .result-table__pagination {
     display: flex;
     flex-flow: row nowrap;
     gap: 10px;
     height: 50px;
     overflow: auto;
     margin: 15px;
 }

 .result-table__pagination button {
     border-radius: 0.625rem;
     padding: 0.25rem;
     background: var(--gray-d9);
     height: 2rem;
     cursor: pointer;
     border: none;
     transition: background 0.2s ease-out;
 }

 .result-table__pagination-dots {
     height: 2rem;
     display: flex;
     align-items: flex-end;
 }


 .result-table__pagination button:hover,
 .result-table__pagination button.open {
     background: var(--gray-e6);
 }


 .result-table__pagination-info {}

 .result-menu {
     display: flex;
     flex-flow: row wrap;

     margin: 20px 0;
 }

 .result-menu .active {
     display: flex;
     background-color: var(--gray-e6);
 }


 .result-menu__button {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 15px 0;
     background: var(--gray-d9);
     transition: background 0.2s ease-out;
     border: none;
     outline: none;
     width: 100%;
     cursor: pointer;
 }

 .result-menu__button:hover {
     background: var(--gray-e6);
 }

 .result-graths {
     display: none;
     text-align: center;
 }

 .result-graths canvas {
     margin: 25px 0 45px;
 }

 @media screen and (min-width: 576px) {
     .result-menu__button {
         width: 50%;
     }
 }

 @media screen and (min-width: 768px) {
     .result-menu__button {
         width: 33.3%;
     }
 }

 @media screen and (min-width: 992px) {
     .result-menu__button {
         width: 25%;
     }
 }