.result-block {
    display: none;
}

.result-table {
    display: none;
}

.result-table__pagination {
    display: flex;
    flex-flow: row nowrap;

    height: 50px;
    overflow: auto;
}

.result-table__pagination button {
    margin: 3px 10px;
}

.result-table__pagination-info {

}

.result-menu {
    display: flex;
    flex-flow: row wrap;

    margin: 20px 0;
    background-color: whitesmoke;
}

.result-menu  .active{
    display: flex;

    background-color: gray;
}


.result-menu__button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px 0;

    width: 100%;
}

.result-grath {
    display: none;
}

.active {
    display: block;
}

@media screen and (min-width: 576px) {
    .result-menu__button {
        width: 50%;
    }
}

@media screen and (min-width: 768px) {
    .result-menu__button {
        width: 33.3%;
    }
}

@media screen and (min-width: 992px) {
    .result-menu__button {
        width: 25%;
    }
}