body {
    font-size: 14px;
}

.calculate {
    cursor: wait;
}

@media screen and (min-width: 576px) {
    body {
        font-size: 20px;
    }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
    body {
        font-size: 22px;
    }
}